/*{
	border: 1px dotted black;

}*/

body {
	max-height: 100%;
	color:#188A00;
	
}
 
.wrap1 {

	min-width: 100%;
	max-height: 28%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CF6870;
}

.wrap1 p {
	margin-top:5px;
	text-align: center;
	text-shadow: 2px 2px #CF6870;
}

.cardwrap {
	position: static;
	text-align: center;
}
.card {
 	background-size: 100%;
 	background-color: #530006;
 	max-width: 40%;
 	min-width: 30px;
 	max-height: inherit;
 	min-height: 50px;
 	display: inline-block;
 	text-align: center;
 	vertical-align: top;

}

#gamebuttons div:hover, .card:hover, .card:focus, .card:active {
	 -webkit-transition-duration: 0.1s;
  	 transition-duration: 0.3s;
  	 -webkit-transition-property: transform;
  	 transition-property: transform;
  	 -webkit-transform: translateZ(0);
  	 transform: translateZ(0);
  	 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	 -webkit-transform: scale(2.2);
  	 transform: scale(2.2);
}

#gamebuttons {
	text-align: center;
}
#gamebuttons div {
	display:inline-block;
	text-align: center;
	background-color: #530006;
}